In [ ]:
# J'installe la librairie GeoPy qui contient l'API nominatim
pip install geopy

In [1]:
# J'importe mes modules classique
import pandas as pd
import sqlalchemy
import numpy as np

In [2]:
# J'importe l'API Nominatim depuis la librairie GeoPy
from geopy.geocoders import Nominatim

In [3]:
# J'initialise la connection avec sql
engine = sqlalchemy.create_engine('mysql+pymysql://root:root@localhost:3306/dataengineer')

In [4]:
# je transforme la table SQL "address" en DataFrame pour pouvoir etre exploitable par pandas et GeoPy
address_clean = pd.read_sql_table("address",engine)
address_clean.head()

   address_id                  address           city postal_code
0           1     318 CHE DE ROUMAGOUA      LA CIOTAT       13600
1           2         19 RUE DES DAMES  SAINTE SAVINE       10300
2           3  22 RUE AMIRAL GUEPRATTE     LE CONQUET       29217
3           4          6 BD DES ETINES      LE COTEAU       42120
4           5      35 AV DU 159EME RIA       BRIANCON        5100

In [5]:
# J'ajoute une colonne qui permettera à Nominatim de lire les addresses complètes sur une seul colonne.
address_clean["query"] = address_clean["address"] + " " + address_clean["city"] + " " + address_clean["postal_code"]

In [6]:
# J'ajoute deux colonnes 'latitude' et 'longitude' où seront stockés les coordonées géographiques.
address_clean['latitude'] = ""
address_clean['longitude'] = ""

In [ ]:
# Je fais appel à l'API Nominatim via GeoPy

call = Nominatim(user_agent="Nicolas")


for i in address_clean.index:
    try:
        
        location = call.geocode(address_clean['query'][i])
        
        #Les données sont direcement ajoutés dans les deux colonnes précédemment créés
        address_clean.loc[i,'latitude'] = location.latitude
        address_clean.loc[i,'longitude'] = location.longitude
        
    except:
        
        #Si aucune valeur n'est retournée, je les transforme en NaN
        address_clean.loc[i,'latitude'] = np.nan
        address_clean.loc[i,'longitude'] = np.nan

In [ ]:
# J'exporte le DataFrame directement sur SQL 
address_clean.to_sql(name='address_clean', con = engine, index=False, if_exists= 'fail')

In [ ]:
# Je supprime la colonne "query" de la table "address_clean", qui ne m'est plus utile
engine.execute("ALTER TABLE address_clean DROP COLUMN query;").fetchall()