In [ ]:
pip install geopy

In [1]:
import pandas as pd
import sqlalchemy
import numpy as np

In [3]:
from geopy.geocoders import Nominatim

In [4]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:root@localhost:3306/dataengineer')

In [5]:
address = pd.read_sql_table("address",engine)
address.head()

   address_id                  address           city postal_code
0           1     318 CHE DE ROUMAGOUA      LA CIOTAT       13600
1           2         19 RUE DES DAMES  SAINTE SAVINE       10300
2           3  22 RUE AMIRAL GUEPRATTE     LE CONQUET       29217
3           4          6 BD DES ETINES      LE COTEAU       42120
4           5      35 AV DU 159EME RIA       BRIANCON        5100

In [6]:
address["query"] = address["address"] + " " + address["city"] + " " + address["postal_code"]

In [7]:
address['latitude'] = ""
address['longitude'] = ""

In [ ]:
call = Nominatim(user_agent="Nicolas")


for i in address.index:
    try:
        #tries fetch address from geopy
        location = call.geocode(address['query'][i])
        
        #append lat/long to column using dataframe location
        address.loc[i,'latitude'] = location.latitude
        address.loc[i,'longitude'] = location.longitude
        
    except:
        #catches exception for the case where no value is returned
        #appends null value to column
        address.loc[i,'latitude'] = np.nan
        address.loc[i,'longitude'] = np.nan